{% extends 'base.html' %}
{% block content%}

<h1>Blog Posts...</h1>

{% if posts %}
{% for post in posts %}

<div class="shadow-sm p-3 mb-1 bg-body-tertiary rounded">
    <h2>{{ post.title|capitalize }}</h2>
    <p><small>{{ post.author }} -- {{ post.date_posted }}</small></p>
    <p>{{ post.content }}</p><br />
    <a href="{{ url_for('post', id=post.id )}}"><button type="button" class="btn btn-secondary">View Post</button></a>
</div>
<br/>
{% endfor %}
{% else %}
<h4>No post!</h4>
{% endif %}

{% endblock %}