{% extends 'base.html' %}
{% block content%}


<div class="shadow-sm p-3 mb-1 bg-body-tertiary rounded">
    <h1>{{ post.title|capitalize }}</h1>
    <p><small>{{ post.poster.name }} -- {{ post.date_posted }}</small></p>
    <p>{{ post.content |safe }}</p><br />
    <a href="{{ url_for('posts')}}"><button type="button" class="btn btn-secondary">Go back</button></a>
    {% if current_user.id == post.poster_id %}
    <a href="{{ url_for('edit_post', id=post.id)}}"><button type="button" class="btn btn-secondary">Edit</button></a>
    <a href="{{ url_for('delete_post', id=post.id)}}"><button type="button" class="btn btn-danger">Delete</button></a>
    {% endif %}
</div>
<br/>


{% endblock %}